{% extends "layouts/scholar-tracker-base.html" %}
{% block content %}
<main class="container position-relative px-xxl-5 px-xl-4 px-lg-3 px-md-2 px-sm-1">
    <div
        class="price-link rounded-5 mt-n5 mt-md-0 d-flex justify-content-between align-items-center mb-5 slp-exchange-area">
        <div
            class="indi-token d-flex align-items-center justify-content-center  py-3  py-lg-1 px-10 my-md-4 my-xxl-0  flex-wrap ">
            <p class="text-white fs-6 text-slp text-center">Smooth Love Potion Price (SLP)</p>
            <img src="/static/assets/img/scholar-tracker/icon-slp1.png" class="ms-2">
            <p class="price-letter fs-main-semi ps-3 pe-4" id="current_rate">&dollar;&nbsp;{{"%.2f" |
                format(currentRateForSLP['price'] | float)}}</p>
            <div class="{{ 'price-percent' if currentRateForSLP['percent'] > 0  else 'price-down'}} py-2 px-4 rounded-4">
                <i class="bi {{ 'bi-caret-up-fill' if currentRateForSLP['percent'] > 0  else 'bi-caret-down-fill'}} me-3"></i>{{"%.2f" |
                format(currentRateForSLP['percent'] | float)}}%
            </div>
        </div>
        <div
            class="indi-token d-flex align-items-center justify-content-center py-3  py-lg-1 px-10 my-md-4 my-xxl-0 flex-wrap">
            <p class="text-white fs-6 text-slp token-border ps-xxl-5 text-center">Axie Infinity (AXS)</p>
            <img src="/static/assets/img/scholar-tracker/icon-axs1.png" class="ms-2">
            <p class="price-letter fs-main-semi ps-3 pe-4">&dollar;&nbsp;{{"%.2f" |
                format(currentRateForAXS['price'] | float)}}</p>
            <div class="{{ 'price-percent' if currentRateForAXS['percent'] > 0  else 'price-down'}} py-2 px-3 rounded-4">
                <i class="bi {{ 'bi-caret-up-fill' if currentRateForAXS['percent'] > 0  else 'bi-caret-down-fill'}} me-3"></i>{{"%.2f" |
                format(currentRateForAXS['percent'] | float)}}%
            </div>
        </div>
        <div
            class="indi-token d-flex align-items-center justify-content-center py-3  py-lg-1 px-10 my-md-4 my-xxl-0 flex-wrap">
            <p class="text-white fs-6 text-slp token-border ps-xxl-5 text-center">Ethereum (ETH)</p>
            <img src="/static/assets/img/scholar-tracker/icon-eth1.png" class="ms-2">
            <p class="price-letter fs-main-semi ps-3 pe-4">&dollar;&nbsp;{{"%.2f" |
                format(currentRateForEHT['price'] | float)}}</p>
            <div class="{{ 'price-percent' if currentRateForEHT['percent'] > 0  else 'price-down'}} py-2 px-3 rounded-4">
                <i class="bi {{ 'bi-caret-up-fill' if currentRateForEHT['percent'] > 0  else 'bi-caret-down-fill'}} me-3"></i>
                {{"%.2f" |
                format(currentRateForEHT['percent'] | float)}}%
            </div>
        </div>
    </div>

    <div class="top-box cards row">
        <div class="col-md-12 col-lg-8 col-xll-4 justify-content-around align-items-center d-flex flex-column flex-md-row">
            <div class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Today Average</p>
                <div class="fs-7 text-white">
                    {{ "%.2f" | format(today_avg) }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="total_avg" data-value="{{today_avg}}">&#8776;&dollar;{{"%.2f" |
                    format(currentRateForSLP['price'] * today_avg | float)}} USD</p>
            </div>
            <div class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Yesterday Average</p>
                <div class="fs-7 text-white">
                    {{ "%.2f" | format(ytdy_avg) }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="total_avg" data-value="{{ytdy_avg}}">&#8776;&dollar;{{"%.2f" |
                    format(currentRateForSLP['price'] * ytdy_avg | float)}} USD</p>
            </div>
            
        </div>
        <div class="col-md-6 col-lg-4 col-xll-2 justify-content-around d-flex">
            <div class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Weekly Average</p>
                <div class="fs-7 text-white">
                    {{ "%.2f" | format(week_avg) }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="total_avg" data-value="{{week_avg}}">&#8776;&dollar;{{"%.2f" |
                    format(currentRateForSLP['price'] * week_avg | float)}} USD</p>
            </div>
            
        </div>
        <div class="col-md-6 col-lg-4 col-xll-2 justify-content-around d-flex">
            <div class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_total }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="total_sum" data-value="{{slpdata.sum_total}}">&#8776;&dollar;{{"%.2f" |
                    format(currentRateForSLP['price'] * slpdata.sum_total | float)}} USD</p>
            </div>
        </div>
        <div class="col-md-12 col-lg-8 col-xll-4 justify-content-around align-items-center d-flex flex-column flex-md-row">
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total unclaimed SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_unclaimed }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="unclaimed_sum" data-value="{{slpdata.sum_unclaimed}}">
                    &#8776;&dollar;{{"%.2f" | format(currentRateForSLP['price'] * slpdata.sum_unclaimed | float)}} USD</p>
            </div>
            <div class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total claimed SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_claimed }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="claimed_sum" data-value="{{slpdata.sum_claimed}}">
                    &#8776;&dollar;{{"%.2f" | format(currentRateForSLP['price'] * slpdata.sum_claimed | float)}} USD</p>
            </div>
        </div>
    </div>
    <div class="data-area main-table rounded-5">
        <div class="main-table-header d-flex justify-content-between flex-wrap align-items-center py-4 ">
            <div class="search-group d-flex align-items-center">
                <div class="search-title">
                    <i class="bi bi-search text-orange-2 me-3 fs-5"></i>
                    <span class="text-white fs-4">Search</span>
                </div>
                <input type="text" name="search" id="search" placeholder="Type your text"
                    class="table-search fs-5 mx-3 rounded-4 w-100">
            </div>
            <div id="buttons"></div>
            <button class="btn-export flex-shrink-0 bg-orange-2 fs-5-b rounded-4 " id="export_btn"
                export-type="excel">Export Excel</button>
            <a href="#addaccount" data-bs-toggle="modal" role="button"
                class="btn-export btn-addacount flex-shrink-0  fs-5-b rounded-4 d-flex align-items-center">
                <img src="/static/assets/img/scholar-tracker/icons/user-account-icon.png" class="pe-2">Add Acount</a>
            <a href="#settingModalToggle" class="btn-setting flex-shrink-0 rounded-4 fs-5-b ms-auto"
                data-bs-toggle="modal" role="button">
                <img src="/static/assets/img/scholar-tracker/icon-setting.png" alt="setting-icon" />
                Settings
            </a>
        </div>
        <div class="main-table-body">
            <table class="table table-striped table-responsive text-center align-middle table-borderless fs-5-b table-fs display"
                id="tracker-table" style="width:100%">
                <thead>
                    <tr class="text-orange-3 fs-semi align-middle main-tablerow-display">
                        <th colspan="2"></th>
                        <th colspan="6" class="border-left">SLP</th>
                        <th colspan="2" class="border-left">Claims</th>
                        <th colspan="2" class="border-left">Shares</th>
                        <th colspan="3" class="border-left">PVP</th>
                        <th colspan="1" class="border-left"></th>

                    </tr>
                    <tr class="fs-bold main-tablerow-display">
                        <th></th>
                        <th>Name</th>
                        <th class="border-left">Today</th>
                        <th>Ydy</th>
                        <th>Avg</th>
                        <th>Unclaimed</th>
                        <th>Claimed</th>
                        <th>Total</th>
                        <th class="border-left">Last Claim</th>
                        <th>Claim on</th>
                        <th class="border-left">M</th>
                        <th >S</th>
                        <th class="border-left">ELO</th>
                        <th id="rank">Rank</th>
                        <th>Games</th>
                        <th class="border-left">Actions</th>
                    </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="settingModalToggle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="/static/assets/img/scholar-tracker/icon-setting-modal.png">
                        <h5 class="modal-title fs-4 fs-main-semi ms-2 text-white" id="staticBackdropLabel">Settings</h5>
                        <button type="button" class="btn-close btn-close-white btn-cancel" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row mt-3">
                                <div class="col-md-2 text-white">Sort</div>
                                <div class="col-md-5">
                                    <select class="form-select text-black fw-bold" name="sort-column" id="sort-column"
                                        aria-label="Select a column">
                                        <option value="1">Name</option>
                                        <option value="2">Today</option>
                                        <option value="3">Yesterday</option>
                                        <option value="4">Average</option>
                                        <option value="5">Unclaimed</option>
                                        <option value="6">Claimed</option>
                                        <option value="7">Total</option>
                                        <option value="8">Last Claim</option>
                                        <option value="9">Claim on</option>
                                        <option value="12">MMR</option>
                                        <option value="13">Rank</option>
                                    </select>
                                </div>
                                <div class="col-md-5 ms-auto">
                                    <select class="form-select fw-bold" name="sort-order" id="sort-order"
                                        aria-label="Select a column">
                                        <option value="0">Ascending</option>
                                        <option value="1">Descending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3 justify-content-between last-select pb-4">
                                <div class="col-md-3 text-white">Currency</div>
                                <div class="col-md-9">
                                    <select name="currency" id="currency" class="form-select fw-bold"
                                        aria-label="Select a column">
                                        <option value="usd">USD</option>
                                        <option value="gbp">GBP</option>
                                        <option value="eur">EURO</option>
                                        <option value="php">PHP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3 fs-main-semi mt-3 mt-xxl-5 text-white">
                                TABLE OPTIONS <input type="hidden" value="" id="crypto-rate">
                            </div>
                            <div class="row mt-2 mt-xxl-4 text-white">
                                <input class="form-check-input me-1" type="checkbox" name="full_date" aria-label="...">
                                Show full date
                            </div>
                            <div class="row mt-2 mt-xxl-4 text-white">
                                <input class="form-check-input me-1" type="checkbox" name="show_value" aria-label="...">
                                Show value
                            </div>
                            <div class="row mt-2 mt-xxl-4 text-white">
                                <input class="form-check-input me-1" type="checkbox" name="show_mmr" aria-label="..."
                                    data-column="12">
                                Show ELO (MMR)
                            </div>
                            <div class="row mt-2 mt-xxl-4 text-white">
                                <input class="form-check-input me-1" type="checkbox" name="show_rank" aria-label="..."
                                    data-column="13">
                                Show Rank
                            </div>
                            <div class="row mt-2 mt-xxl-4 text-white">
                                <input class="form-check-input me-1" type="checkbox" name="show_arena" aria-label="..."
                                    data-column="14">
                                Show Games
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn fs-5-b text-grey-2 fs-main-semi"
                            data-bs-dismiss="modal">Done</button>
                        <!-- <button type="button" class="btn btn-primary" id="setting_done">Done</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addaccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-account">
                <div class="modal-content modal-main">
                    <div class="modal-header">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="/static/assets/img/scholar-tracker/icons/ellipse.png">
                            <h5 class="modal-title fs-4 fs-main-semi ms-3 text-white" id="staticBackdropLabel">Add new
                                account</h5>
                        </div>
                        <button type="button" class="btn-close btn-close-white btn-cancel" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body fs-5-b">
                        <form>
                            <div class="mb-3 mt-2">
                                <label for="accountname" class="form-label fs-6 text-white mb-3">Scholar name or account
                                    name <span class="text-cyan">(descriptive)</span></label>
                                <input type="text" class="form-control text-black fw-bold" id="accountname"
                                    placeholder="type your name">
                            </div>
                            <div class="mb-3">
                                <label for="walletaddress" class="form-label fs-6 text-white mb-3">Public Ronin Address
                                    with the prefix ronin</label>
                                <input type="text" class="form-control text-black fw-bold" id="walletaddress"
                                    placeholder="ronin: 07845R3448367E478932">
                            </div>
                            <div class="mb-3">
                                <label for="manger" class="form-label fs-6 text-white mb-3">Manager Percentage</label>
                                <input type="text" class="form-control text-black fw-bold" id="manger" placeholder="50">
                            </div>
                            <div class="mb-3">
                                <label for="walletaddresspayment" class="form-label fs-6 text-white mb-3">Public Ronin
                                    Address to payment <span class="text-cyan">(optional)</span></label>
                                <input type="text" class="form-control text-black fw-bold" id="walletaddresspayment"
                                    placeholder="ronin: 07845R3448367E478932">
                            </div>
                            <div class="mb-3">
                                <label for="walletaddress" class="form-label fs-6 text-white mb-3">Investor / Trainer
                                    percentage <span class="text-cyan">(optional)</span></label>
                                <input type="text" class="form-control text-black fw-bold" id="investor"
                                    placeholder="0">
                            </div>
                            <button type="button" id="track_account" class="btn btn-account fs-main-semi mt-4"
                                data-bs-dismiss="modal">Track Account</button>
                            <p class="text-cyan text-center mt-4 fs-small">Worried about security?</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modals -->
        <div class="logo-bottom position-absolute top-100 start-50 translate-middle">
            <img src="/static/assets/img/scholar-tracker/logo-lfg-footer.png" alt="logo-bottom" />
        </div>
    </div>
</main>
{% endblock content %}