{% extends "layouts/scholar-tracker-base.html" %}
{% block content %}
<main class="container position-relative px-xxl-5 px-xl-4 px-lg-3 px-md-2 px-sm-1">
    <div class="price-link d-flex justify-content-between align-items-center mb-5 flex-wrap">
        <div
            class="slp-exchange-area d-flex align-items-center justify-content-center rounded-5 py-3  py-lg-1 px-10 mt-4 flex-wrap">
            <p class="text-white fs-6 text-slp">Smooth Love Potion Price (SLP)</p>
            <p class="price-letter fs-main-semi ps-3 pe-4" id="current_rate">&pound;&nbsp;{{"%.2f" |
                format(currentRateForSLP | float)}}</p>
            <div class="price-percent py-2 px-4 rounded-4">
                <i class="bi {{ 'bi-caret-up-fill' if percentage > 0  else 'bi-caret-down-fill'}} me-3"></i>{{"%.2f" |
                format(percentage | float)}}%
            </div>
        </div>
        <!-- <div class="link-address text-center text-white fs-5 fs-main-semi mt-4">
            <img src="/static/assets/img/scholar-tracker/icon-heart.png" alt="heart" class="me-3" />
            Love this group? Please consider <span class="text-green-2">do`nating.</span>
        </div> -->
    </div>
    <div class="top-box cards row">
        <div
            class="col-md-12 col-lg-8 col-xll-4 justify-content-around align-items-center d-flex flex-column flex-md-row">
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total Average</p>
                <div class="fs-7 text-white">
                    {{ "%.2f" | format(slpdata.avg_total) }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="total_avg" data-value="{{slpdata.avg_total}}">&#8776;&pound;{{"%.2f" |
                    format(currentRateForSLP * slpdata.avg_total | float)}} GBP</p>
            </div>
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_total }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="total_sum" data-value="{{slpdata.sum_total}}">&#8776;&pound;{{"%.2f" |
                    format(currentRateForSLP * slpdata.sum_total | float)}} GBP</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xll-2 justify-content-around d-flex">
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total unclaimed SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_unclaimed }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="unclaimed_sum" data-value="{{slpdata.sum_unclaimed}}">
                    &#8776;&pound;{{"%.2f" | format(currentRateForSLP * slpdata.sum_unclaimed | float)}} GBP</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xll-2 justify-content-around d-flex">
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total claimed SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_claimed }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="claimed_sum" data-value="{{slpdata.sum_claimed}}">
                    &#8776;&pound;{{"%.2f" | format(currentRateForSLP * slpdata.sum_claimed | float)}} GBP</p>
            </div>
        </div>
        <div
            class="col-md-12 col-lg-8 col-xll-4 justify-content-around align-items-center d-flex flex-column flex-md-row">
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total Manager SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_manager }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="total_manager_share" data-value="{{slpdata.sum_manager}}">
                    &#8776;&pound;{{"%.2f" | format(currentRateForSLP * slpdata.sum_manager | float)}} GBP</p>
            </div>
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total Scholar SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_scholar }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white" id="total_scholar_share" data-value="{{slpdata.sum_scholar}}">
                    &#8776;&pound;{{"%.2f" | format(currentRateForSLP * slpdata.sum_scholar | float)}} GBP</p>
            </div>
        </div>
    </div>
    <div class="data-area main-table rounded-5">
        <div class="main-table-header d-flex justify-content-between flex-wrap align-items-center py-4 ">
            <div class="search-group d-flex align-items-center">
                <div class="search-title">
                    <i class="bi bi-search text-orange-2 me-3 fs-5"></i>
                    <span class="text-white fs-4">Search</span>
                </div>
                <input type="text" name="search" id="search" placeholder="Type your text"
                    class="table-search fs-5 mx-3 rounded-4 w-100">
            </div>
            <div id="buttons"></div>
            <button class="btn-export flex-shrink-0 bg-orange-2 fs-5-b rounded-4 " id="export_btn" export-type="excel">Export Excel</button>
            <a href="#settingModalToggle" class="btn-setting flex-shrink-0 rounded-4 fs-5-b ms-auto"
                data-bs-toggle="modal" role="button">
                <img src="/static/assets/img/scholar-tracker/icon-setting.png" alt="setting-icon" />
                Settings
            </a>
        </div>
        <div class="main-table-body">
            <table class="table table-striped table-responsive text-center align-middle table-borderless fs-5-b display"
                id="tracker-table" style="width:100%">
                <thead>
                    <tr class="text-orange-3 fs-semi align-middle">
                        <th colspan="2"></th>
                        <th colspan="6" class="border-left">SLP</th>
                        <th colspan="2" class="border-left"></th>
                        <th colspan="2" class="border-left">Sharing</th>
                        <!-- <th colspan="2" class="border-left">Sharing <br />* M - Manager / S - Scholar</th> -->
                        <th class="border-left" colspan="2"></th>
                    </tr>
                    <tr class="fs-bold">
                        <th></th>
                        <th>Name</th>
                        <th class="border-left">Today</th>
                        <th>Ydy</th>
                        <th>Avg</th>
                        <th>Unclaimed</th>
                        <th>Claimed</th>
                        <th>Total</th>
                        <th class="border-left">Last Claim</th>
                        <th>Claim on</th>
                        <th class="border-left">M</th>
                        <th>S</th>
                        <th>ELO</th>
                        <th>Rank</th>
                        <th class="border-left">Actions</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="settingModalToggle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="/static/assets/img/scholar-tracker/icon-setting-modal.png">
                        <h5 class="modal-title fs-4 fs-main-semi ms-2 text-white" id="staticBackdropLabel">Settings</h5>
                        <button type="button" class="btn-close btn-close-white btn-cancel" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row mt-3">
                                <div class="col-md-2 text-white">Sort</div>
                                <div class="col-md-5">
                                    <select class="form-select text-black fw-bold" name="sort-column" id="sort-column"
                                        aria-label="Select a column">
                                        <option value="1">Name</option>
                                        <option value="4">Average</option>
                                        <option value="5">Unclaimed</option>
                                        <option value="6">Claimed</option>
                                        <option value="7">Total</option>
                                        <option value="8">Last Claim</option>
                                        <option value="12">MMR</option>
                                        <option value="13">Rank</option>
                                    </select>
                                </div>
                                <div class="col-md-5 ms-auto">
                                    <select class="form-select fw-bold" name="sort-order" id="sort-order"
                                        aria-label="Select a column">
                                        <option value="0">Ascending</option>
                                        <option value="1">Descending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3 justify-content-between last-select pb-4">
                                <div class="col-md-3 text-white">Currency</div>
                                <div class="col-md-9">
                                    <select name="currency" id="currency" class="form-select fw-bold"
                                        aria-label="Select a column">
                                        <option value="gbp">GBP</option>
                                        <option value="eur">EURO</option>
                                        <option value="usd">USD</option>
                                        <option value="php">PHP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3 fs-main-semi mt-3 mt-xxl-5 text-white">
                                TABLE OPTIONS <input type="hidden" value="" id="crypto-rate">
                            </div>
                            <div class="row mt-2 mt-xxl-4 text-white">
                                <input class="form-check-input me-1" type="checkbox" name="full_date" aria-label="...">
                                Show full date
                            </div>
                            <div class="row mt-2 mt-xxl-4 text-white">
                                <input class="form-check-input me-1" type="checkbox" name="show_value" aria-label="...">
                                Show value
                            </div>
                            <div class="row mt-2 mt-xxl-4 text-white">
                                <input class="form-check-input me-1" type="checkbox" name="show_mmr" aria-label="..." data-column="12">
                                Show ELO (MMR)
                            </div>
                            <div class="row mt-2 mt-xxl-4 text-white">
                                <input class="form-check-input me-1" type="checkbox" name="show_rank" aria-label="..." data-column="13">
                                Show Rank
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn fs-5-b text-grey-2 fs-main-semi"
                            data-bs-dismiss="modal">Done</button>
                        <!-- <button type="button" class="btn btn-primary" id="setting_done">Done</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="logo-bottom position-absolute top-100 start-50 translate-middle">
            <img src="/static/assets/img/scholar-tracker/logo-lfg-footer.png" alt="logo-bottom" />
        </div>
    </div>
</main>
{% endblock content %}