{% extends "layouts/scholar-tracker-base.html" %}
{% block content %}
<main class="container position-relative px-xxl-5 px-xl-4 px-lg-3 px-md-2 px-sm-1">
    <div class="price-link d-flex justify-content-between align-items-center mb-5 flex-wrap">
        <div
            class="slp-exchange-area d-flex align-items-center justify-content-center rounded-5 py-3  py-lg-1 px-10 mt-4 flex-wrap">
            <p class="text-white fs-6 text-slp">Smooth Love Potion Price (SLP)</p>
            <p class="price-letter fs-main-semi ps-3 pe-4">&euro;0.275</p>
            <div class="price-percent py-2 px-4 rounded-4">
                <i class="bi bi-caret-up-fill me-3"></i>13.21%
            </div>
        </div>
        <div class="link-address text-center text-white fs-5 fs-main-semi mt-4">
            <img src="/static/assets/img/scholar-tracker/icon-heart.png" alt="heart" class="me-3" />
            Love this group? Please consider <span class="text-green-2">do`nating.</span>
        </div>
    </div>
    <div class="top-box cards row">
        <div
            class="col-md-12 col-lg-8 col-xll-4 justify-content-around align-items-center d-flex flex-column flex-md-row">
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total Average</p>
                <div class="fs-7 text-white">
                    {{ "%.2f" | format(slpdata.avg_total) }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white">&#8776;&pound;≈{{"£%.2f" | format(currentRateForSLP * slpdata.avg_total | float)}} GBP</p>
            </div>
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_total }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white">&#8776;&pound;≈{{"£%.2f" | format(currentRateForSLP * slpdata.sum_total | float)}} GBP</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xll-2 justify-content-around d-flex">
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total unclaimed SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_unclaimed }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white">&#8776;&pound;≈{{"£%.2f" | format(currentRateForSLP * slpdata.sum_unclaimed | float)}} GBP</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xll-2 justify-content-around d-flex">
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total claimed SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_claimed }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white">&#8776;&pound;≈{{"£%.2f" | format(currentRateForSLP * slpdata.sum_claimed | float)}} GBP</p>
            </div>
        </div>
        <div
            class="col-md-12 col-lg-8 col-xll-4 justify-content-around align-items-center d-flex flex-column flex-md-row">
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total Manager SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_manager }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white">&#8776;&pound;≈{{"£%.2f" | format(currentRateForSLP * slpdata.sum_manager | float)}} GBP</p>
            </div>
            <div
                class="price-card d-flex justify-content-center align-items-center flex-column flex-shrink-0 rounded-5 mb-5">
                <p class="fs-5 mb-1 text-black fs-main-semi">Total Scholar SLP</p>
                <div class="fs-7 text-white">
                    {{ slpdata.sum_scholar }}
                    <img src="/static/assets/img/scholar-tracker/icon-slp.png" alt="slp-icon" />
                </div>
                <p class="fs-5-b text-white">&#8776;&pound;≈{{"£%.2f" | format(currentRateForSLP * slpdata.sum_scholar | float)}} GBP</p>
            </div>
        </div>
    </div>
    <div class="data-area main-table rounded-5">
        <div class="main-table-header d-flex justify-content-between flex-wrap align-items-center py-4 ">
            <div class="search-group d-flex align-items-center">
                <div class="search-title">
                    <i class="bi bi-search text-orange-2 me-3 fs-5"></i>
                    <span class="text-white fs-4">Search</span>
                </div>
                <input type="text" name="search" placeholder="Type your text"
                    class="table-search fs-5 mx-3 rounded-4 w-100">
            </div>
            <a href="#" class="btn-export flex-shrink-0 bg-orange-2 fs-5-b rounded-4 ">Export Excel</a>
            <a href="#" class="btn-setting flex-shrink-0 rounded-4 fs-5-b ms-auto">
                <img src="/static/assets/img/scholar-tracker/icon-setting.png" alt="setting-icon" /> Settings
            </a>
        </div>
        <div class="main-table-body">
            <table class="table table-striped table-responsive text-center align-middle table-borderless fs-5-b">
                <thead>
                    <tr class="text-orange-3 fs-semi align-middle">
                        <th colspan="2"></th>
                        <th colspan="6" class="border-left">SLP</th>
                        <th colspan="2" class="border-left"></th>
                        <th colspan="2" class="border-left">Sharing <br />* M - Manager / S - Scholar</th>
                        <th class="border-left" colspan="2"></th>
                    </tr>
                    <tr class="fs-bold">
                        <th>#</th>
                        <th>Name</th>
                        <th class="border-left">Today</th>
                        <th>Yesterday</th>
                        <th>Average</th>
                        <th>Unclaimed</th>
                        <th>Claimed</th>
                        <th>Total</th>
                        <th class="border-left">Last Claim</th>
                        <th>Claim on</th>
                        <th class="border-left">M</th>
                        <th>M</th>
                        <th class="border-left" colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in tabledata %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><span><a class="link-primary"
                            href="https://marketplace.axieinfinity.com/profile/ronin:nin:{{row.RoninAddress[2:]}}/axie"
                            target="_blank" rel="noreferrer">{{row.Name}}</a></strong></span></td>
                        <td>N/A</td>
                        <td><span class="yesterday rounded-3">-</span></td>
                        <td>-</td>
                        <td>{{row.unclaimed}}</td>
                        <td>{{row.claimed}}</td>
                        <td>{{row.total}}</td>
                        <td>{{ row.lastclaim | datetime_from_epoch }}</br>
                            <!-- <span class="text-cyan">18:35:25</span> -->
                        </td>
                        <td>{{ row.nextclaim | datetime_from_epoch }}</br>
                            <!-- <span class="text-cyan">18:35:25</span> -->
                        </td>
                        <td>{{"{:.2f}".format(row.manager/100 * row.total)}}
                            <span class="text-green-2">({{row.manager}}%)</span></td>
                        <td>{{"{:.2f}".format(row.scholar/100 * row.total)}}
                             <span class="text-green-2">({{row.scholar}}%)</span></td>
                        <td><i class="bi bi-pencil-square btn-action bg-green-2"></i></td>
                        <td><i class="bi bi-trash btn-action bg-blue-2"></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="logo-bottom position-absolute top-100 start-50 translate-middle">
            <img src="/static/assets/img/scholar-tracker/logo-lfg-footer.png" alt="logo-bottom" />
        </div>
    </div>
</main>

{% endblock content %}