*{box-sizing: border-box;}
body{
  background: url(../img/scholar-tracker/bg-body.png) top center no-repeat,#3f456e;
  font-family: poppins;
}
p{
	margin: 0;
}
a{
	text-decoration: none;
  color: black;
}
img{
  vertical-align: middle;
}
header img {
  max-width: 80%;
}
@font-face {
    font-family: 'poppins';
    src: url('font/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-bold';
    src: url('font/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-semibold';
    src: url('font/Poppins-SemiBold.ttf') format('truetype');
}
.fs-main {
  font-family: poppins;
}
.fs-main-bold {
  font-family: poppins-bold;
}
.fs-main-semi {
  font-family: poppins-semibold;
}
.fs-22 {
  font-size: 1.375rem;
}
.text-grey-2 {
  color: #e2e2e2;
}
.container{
  max-width: 1920px;
}
.resize-img{
  margin-bottom: 45px;
}
.price-letter{
  color: #fa7cfc;
  font-size: 2.5rem;
}
.price-percent{
  background-color: #4ccb8e;
  font-size: 19px;
}
.rounded-4{
  border-radius: 12px;
}
.slp-exchange-area{
  background-color: #3f456e;
  border:2px solid black;
}
.rounded-5{
  border-radius: 30px;
}
.px-10{
  padding-right: 36px;
  padding-left: 36px;
}
.text-green-2{
 color: #4ccb8e;
}
.price-card{
  background: url(../img/scholar-tracker/top-box-card.png);
  background-size: 100% 100%;
  width: 275px;
  height: 180px;
  box-shadow: 0 2px 24px black;
}
.text-orange-2 {
  color: #e3923a;
}
.fs-7{
  font-size: 3rem;
}
.fs-5-b{
  font-size: 21px;
}
.main-table-header{
  padding: 24px 45px;
  background-color: rgba(36, 43, 85, 0.6);
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom: 2px solid black;
}
.table-search{
  background-color: #141522;
  padding: 11px 25px;
  border:none;
  color:  #abaec3;
}
.search-title{
  display: flex;
  justify-content: flex-start;
 }
input[type="text"]::placeholder{
  color:  #abaec3;
}

input[type="text"]:focus{
  outline: none;
}
.btn-export{
  padding:10px 17px;
}
.bg-orange-2{
  background-color: #e3923a;
}
.btn-setting{
  color: #61d7f5;
  background-color: #20233c;
  padding:8px 32px;
}
.main-table{
  /*background: url(../img/scholar-tracker/table-header.png) top center no-repeat;*/
  padding-bottom: 183px;
  margin-bottom: 130px;
  box-shadow: 0 19px 35px rgba(0,0,0,0.3);
}
.main-table-body table {
  border-top: 1px solid rgba(255,255,255,.6);
  border-bottom: 1px solid rgba(255,255,255,.6);
/*  position:relative;
  z-index:10*/
  margin-bottom: 0;
}
/*.main-table-body table:before{
  content:"";
  display:block;
  position:absolute;
  z-index:-1;
  top:-1px;
  border:1px solid black;
}*/
.main-table-body table td, .main-table-body table th {
  padding: 20px 10px;
  color: white ;

}
.main-table-body table thead{

  border-bottom: 1px solid rgba(0,0,0);
  outline: 1px solid rgba(255,255,255,.6);
}
/*.main-table-body table tr:first-child{
  border-top: 1px solid rgba(255,255,255,.6);
}*/
.main-table-body table tr td:first-child,
.main-table-body table tr th:first-child {
  padding-left: 25px;
}
.main-table-body table tr td:last-child,
.main-table-body table tr th:last-child {
  padding-right: 45px;
}
.main-table-body table tr td:nth-child(3),
.main-table-body table tr td:nth-child(9),
.main-table-body table tr td:nth-child(11),
.main-table-body table tr td:nth-child(13) {
  border-left: 1px solid rgba(255,255,255,.6);
}
.main-table-body .table-striped>tbody>tr:nth-of-type(odd) {
  background: rgba(36, 43, 85, 0.6);
}
.yesterday {
  background: #4d8b9b;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto
}
.border-left {
  border-left: 1px solid rgba(255,255,255,.6);
}
.btn-action {
  padding: 9px 13px;
  border-radius: 8px;

  margin-right: -20px;
}
.text-green-2 {
  color: #4ccb8e;
}
.bg-green-2 {
  background: #23a667;
}
.bg-blue-2 {
  background: #2f3452;
}
.main-table-body table tr.text-orange-3 th {
  padding-top: 30px;
  color: #e4db9c !important;
}
.main-table-body {
  background: rgba(255,255,255,0.1);
  overflow-x: auto;
}
.text-cyan {
  color: #61d7f5;
}
.cards.row>*{
  padding: 0;
}
.banner-mobile{
  display: none;
}
.user-menu{
  cursor: pointer;
  margin-top: -40px;
  color: #393f67;
}
.icon-select{
  color: #acb4e6;
}
.icon-select:hover{
  color: white;
}
.icon-users:hover{
  color: #56bad4;
}
.icon-dropdown{
  background:url(../img/scholar-tracker/navbar.png);
  display: none;
  width: 226px;
  z-index: 10;
  border-radius: 14px;
  right: 10px;
  box-shadow:3px 3px 2px 0px rgba(0,0,0,.5);
}
.icon-dropdown>div:nth-child(even) {
  background-color:  #7684b2;

}
.icon-dropdown>div{
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none !important;
}
.icon-dropdown>div a{
  color: white;
}
.icon-dropdown>div a:hover{
  color: black;
}

.icon-dropdown>div:last-child{
  border-bottom: 0;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.indi-icon{
  /*transform: scale(1,2);*/
}

.modal-dialog{
  max-width: 722px;
}
.modal-dialog input[type="checkbox"]{
  background-color: #636995;

}
.modal-dialog input[type="checkbox"]:checked{
  background-color: #57abcc;

}
.modal-content{
  background: url(../img/scholar-tracker/bg-modal.png) center center no-repeat #3e446d;
  border-radius: 30px;
  box-shadow: 0 19px 35px black;
  padding:20px 30px 55px;
  /*max-width: 722px;*/
  /*margin:auto;*/
}
.btn-cancel{
  border-radius: 50%;
  border: 1px solid red;
  color: white;
}
/*.modal-header .close {
  border-radius: 50%;
  border: 1px solid white;
  color: rgba(255,255,255,.6);
  opacity: .2;
}*/

.modal-header {
  border-bottom: 1px solid rgba(255,255,255,.6);
  padding-bottom: 20px
}
.modal-footer button{
  background-color: #2b3051;
  padding: 12px 0;
  width: 109px;
  border-radius: 14px;

}
.modal-footer button:hover{
  background-color: #57abcc;
  color: black;
}
.modal-body{
  padding-top: 20px;
  padding-bottom:16px ;
}
.modal-footer {
    border-top: 1px solid rgba(255,255,255,.6);
}
.form-select{
  background-color: #7c82b1;
  border:0;
}
.last-select{
  border-bottom: 1px solid rgba(255,255,255, .6);
  /*margin-bottom: 33px;*/
}
.pagination-select{
  width: 100px;
  height: 40px;
  padding: 2px 16px;

}
.text-grey-3{
  color: #abb0d5;
}
.page-item{
  
  margin-left: 10px;
}
.page-link{
  margin-left: 10px;
  border:none;
  color: black;
  background-color: #575e8d;
}
.page-link:hover{
  background-color: #7f86ba;
}
.pagination>.active>a:active {
  background-color: #7f86ba !important;
}
  
.pagenation-expand{
  background:none;
}
.pagenation-previous{
  background:none;
  color: #abb0d5;
}
.pagenation-next{
  background:none;
  color: #abb0d5;
}

footer {
  color: #8991c5;
}
main {
  background: url(../img/scholar-tracker/bg-potion.png) center 42% no-repeat;
}
@media (max-width: 767px) {
  header{
    margin-bottom: 10px !important;
  }
  
  header img{
    max-width: 65%;
  }
  .btn-setting{
  padding:5px 15px;
  }
  .main-table-header {
    padding: 0 10px;
  }
  .btn-export {
      padding: 5px 17px;
      margin-right: 5px;
  }
  .text-slp {
    width: 100%;
    text-align: center;
  }
  .price-letter {
    font-size: 2rem;
  }
  .price-percent {
    font-size: 13px;
  }
  main{
    background-size: 100%;
  }
  .fs-22 {
    font-size: 13px;
  }
  body {
    background-size: 1300px;
  }
}
@media (max-width: 500px) {
  header img{
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .banner-mobile{

    display: block;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .top-banner{
    visibility: hidden;
  }
  .mb-5.flex-wrap {
    justify-content: space-around !important;
  }
  .bg-main{
    margin-bottom: 10px;
  }
  .main-table-body table td, .main-table-body table th {
  padding: 10px 5px;
  }
}
@media (max-width: 991px) {
  .search-group {
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .search-title{
   margin: auto;
   margin-bottom: 5px; 
  }
  .table-search {
    margin-right: 0;
    max-width: none;
  }
  .btn-export{
    margin-left: 16px;
  }
  .btn-setting{
    margin-right: 16px;
  }
}
@media (max-width: 1600px) {
   .btn-action {
    margin-right: 0px;
    margin-left: 0px;
  }
  header {
    margin-bottom: 50px;
  }
  .fs-5-b{
    font-size: 1rem;
  }
}
/*@media (min-width: 576px){
  .modal-dialog {
    max-width: 500px;}
}*/
@media (min-width: 1770px) {
 
  .col-xll-4{
    width: 33.3333%;
  }
  .col-xll-2{
    width: 16.6667%;
  }
  .main-table{
  background-size: 100% auto;
  }
}
