main {
  background: url(../../img/scholar-tracker/bg-potion.png) center 42% no-repeat;
}
.price-letter{
  color: #fa7cfc;
  font-size: 2.5rem;
}
.price-percent{
  background-color: #4ccb8e;
  font-size: 19px;
}
.price-down{
  background-color: #fe3722;
}
.slp-exchange-area{
  background-color: #3f456e;
  border:2px solid black;
  padding: 0 20px;
}
.token-border{
  border-left: 1px solid white;
}
.price-card{
  background: url(../../img/scholar-tracker/top-box-card.png);
  background-size: 100% 100%;
  width: 275px;
  height: 180px;
  box-shadow: 0 2px 24px black;
}
.main-table-header{
  padding: 24px 45px;
  background-color: rgba(36, 43, 85, 0.6);
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom: 2px solid black;
}
.table-search{
  background-color: #141522;
  padding: 11px 25px;
  border:none;
  color:  #abaec3;
}
.search-title{
  display: flex;
  justify-content: flex-start;
 }
input[type="text"]::placeholder{
  color:  #abaec3;
}
input[type="text"]:focus{
  outline: none;
}
.btn-export{
  padding:10px 17px;
}
.btn-addacount{
  background: #61d7f5;
  margin-left: 26px;
}
.btn-setting{
  color: #61d7f5;
  background-color: #20233c;
  padding:8px 32px;
}
.main-table{
  padding-bottom: 183px;
  margin-bottom: 130px;
  box-shadow: 0 19px 35px rgba(0,0,0,0.3);
}
.main-table-body table {
  border-top: 1px solid rgba(255,255,255,.6);
  border-bottom: 1px solid rgba(255,255,255,.6);
  margin-bottom: 0;
}
.main-table-body table td, .main-table-body table th {
  padding: 20px 5px;
  color: white ;
}
.main-table-body table thead{
  border-bottom: 1px solid rgba(0,0,0);
  outline: 1px solid rgba(255,255,255,.6);
}
.main-table-body table tr td:first-child,
.main-table-body table tr th:first-child {
  padding-left: 25px;
}
.main-table-body table tr td:last-child,
.main-table-body table tr th:last-child {
  padding-right: 5px;
}
.main-table-body table tr td:nth-child(3),
.main-table-body table tr td:nth-child(9),
.main-table-body table tr td:nth-child(11),
.main-table-body table tr td:nth-child(13) {
  border-left: 1px solid rgba(255,255,255,.6);
}
.main-table-body .table-striped>tbody>tr:nth-of-type(odd) {
  background: rgba(36, 43, 85, 0.6);
}
.yesterday {
  background: #4d8b9b;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto
}
.border-left {
  border-left: 1px solid rgba(255,255,255,.6);
}

.border-right {
  border-right: 1px solid rgba(255,255,255,.6);
}
.btn-action {
  padding: 5px 8px;
  border-radius: 8px;
  /* margin-right: -20px; */
}
.main-table-body table tr.text-orange-3 th {
  padding-top: 30px;
  color: #e4db9c !important;
}
.main-table-body {
  background: rgba(255,255,255,0.1);
  overflow-x: auto;
}
.cards.row>*{
  padding: 0;
}
.modal-dialog{
  max-width: 722px;
}
.modal-account{
  max-width: 527px;
}
.modal-dialog input[type="checkbox"]{
  background-color: #636995;
}
.modal-dialog input[type="checkbox"]:checked{
  background-color: #57abcc;
}
.modal-content{
  background: url(../../img/scholar-tracker/bg-modal.png) center center no-repeat #3e446d;
  border-radius: 30px;
  box-shadow: 0 19px 35px black;
  padding:20px 30px 55px;
}
.btn-cancel{
  border-radius: 50%;
  border: 1px solid red;
  color: white;
}
.modal-header {
  border-bottom: 1px solid rgba(255,255,255,.6);
  padding-bottom: 20px
}
.modal-footer button{
  background-color: #2b3051;
  padding: 12px 0;
  width: 109px;
  border-radius: 14px;
}
.modal-footer button:hover{
  background-color: #57abcc;
  color: black;
}
.modal-body{
  padding-top: 20px;
  padding-bottom:16px ;
}
.modal-footer {
    border-top: 1px solid rgba(255,255,255,.6);
}
.form-select{
  background-color: #7c82b1;
  border:0;
}
.form-control{
  background-color: #7c82b1;
  border:0;
  color: black;
  border-radius: 0.4rem;
}
.btn-account{
  width: 100%;
  background: #61d7f5;
  color: black;
  padding:16px;
  text-align: center;
  border-radius: 0.7rem;
}
.modal-content input::placeholder{
  color: black;
}
.last-select{
  border-bottom: 1px solid rgba(255,255,255, .6);
}
.pagination-select{
  width: 100px;
  height: 40px;
  padding: 2px 16px;
}
.page-item{
  margin-left: 10px;
}
.page-link{
  margin-left: 10px;
  border:none;
  color: black;
  background-color: #575e8d;
}
.page-link:hover{
  background-color: #7f86ba;
}
.pagination>.active>a:active {
  background-color: #7f86ba !important;
}
.pagenation-expand{
  background:none;
}
.pagenation-previous{
  background:none;
  color: #abb0d5;
}
.pagenation-next{
  background:none;
  color: #abb0d5;
}
.indi-token img{
  width: 44px;
}

@media (max-width: 524px) {
 .btn-setting{
  margin-top: 10px;
 }
 .ps-xxl-5{
  width: 100% !important;
  }
  .price-letter{
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .pagination-wrap{
    flex-direction: column-reverse;
    align-items: center;
  }
  .btn-setting{
  padding:5px 15px;
  }
  .main-table-header {
    padding: 0 10px;
  }
  .btn-export {
      padding: 5px 17px;
      margin-right: 5px;
  }
  .text-slp {
    width: 100%;
    text-align: center;
  }
  .price-letter {
    font-size: 2rem;
  }
  .price-percent {
    font-size: 13px;
  }
  main{
    background-size: 100%;
  }
}
@media (max-width: 1200px) {
  .mb-5.flex-wrap {
    justify-content: space-around !important;
  }
  .bg-main{
    margin-bottom: 10px;
  }
  .main-table-body table td, .main-table-body table th {
  padding: 10px 5px;
  }
}
@media (max-width: 991px) {
  .search-group {
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .search-title{
   margin: auto;
   margin-bottom: 5px; 
  }
  .table-search {
    margin-right: 0;
    max-width: none;
  }
  .btn-export{
    margin-left: 16px;
  }
  .btn-setting{
    margin-right: 16px;
  }
  
}
@media (max-width: 1600px) {
  .ps-xxl-5{
    width: 250px;
  }
  .price-letter{
    width: 250px;
    text-align: center;
  }
  .price-percent{
    width: 155px;
  }
  .token-border{
    border:none;
  }
  .token-border{
    border:none;
  }
  .slp-exchange-area{
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .indi-token{
    width: 100%;
    border-bottom: 1px solid white;
  }
  .indi-token:last-child{
    border:none;
  }
   .btn-action {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (min-width: 1770px) {
  .col-xll-4{
    width: 33.3333%;
  }
  .col-xll-2{
    width: 16.6667%;
  }
  .main-table{
  background-size: 100% auto;
  }
}

.text-subtext {
  font-size: 13px;
}

.text-red {
  color: red;
}

.text-orange {
  color: orange;
}

.text-green {
  color: #00ff00;
}

.text-white {
  color: white;
}

.main-tablerow-display {
  display: table-row!important;
}

table tr th:nth-child(13), table tr th:last-child, table tr td:last-child {
  border-left: 1px solid rgba(255,255,255,.6);
}

.dataTables_info {
  color: white;
}

table.dataTable>thead>tr>th:not(.sorting_disabled), 
table.dataTable>thead>tr>td:not(.sorting_disabled) {
  padding-right: 0px;
}


table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\02C6" !important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "\02C7" !important;
}
@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {
  .col-group-header {
    display: none !important;
  }
}
/* @media
    only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {
    .main-table-body table td, .main-table-body table th {
      border-bottom: 1px solid rgba(255,255,255,.6);
    }
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr:nth-child(odd) {
      background: #ccc;
    }
    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 60% !important;
    }
    td:before {
      position: absolute;
      top: 30%;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  .main-table-body table tr td:nth-child(3), .main-table-body table tr td:nth-child(9), .main-table-body table tr td:nth-child(11), .main-table-body table tr td:nth-child(13){
    border-left: none;
  }
  .main-table-body table tr td:last-child, .main-table-body table tr th:last-child{
    padding-right: 5px;
  }
    td:nth-of-type(1):before { content: "#"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "Today"; }
    td:nth-of-type(4):before { content: "Yesterday"; }
    td:nth-of-type(5):before { content: "Average"; }
    td:nth-of-type(6):before { content: "Unclaimed"; }
    td:nth-of-type(7):before { content: "Claimed"; }
    td:nth-of-type(8):before { content: "Total"; }
    td:nth-of-type(9):before { content: "Last Claim"; }
    td:nth-of-type(10):before { content: "Claim on"; }
    td:nth-of-type(11):before { content: "M"; }
    td:nth-of-type(12):before { content: "M"; }
    td:nth-of-type(13):before { content: "Edit"; }
    td:nth-of-type(14):before { content: "Delet"; }
  } */

  .empty-error {
    border: 1px solid #e71054;
  }