{% extends "layouts/accounts-header.html" %}
{% block content %}
<main class="container px-xxl-5 px-xl-4 px-lg-3 px-md-2 px-sm-1">
    <div class="login-model mt-4 rounded-5">
      <div class="login-header text-grey-3 text-center fs-2-b ">
        Forgot your password?
      </div>
      <div class="mb-5 .login-model">
        <form action="" method="POST">
          <div class="invalid-register text-green-1 text-center fs-5-b mt-5 mb-4">
            Change your password in three easy steps. This will help you
            to secure your password! 
          </div>
          <div class="mb-2 mt-2">
            <p class="fs-5 text-white">1. Enter your email address below</p>
            <p class="fs-5 text-white">2. Our system will send you a temporary link</p>
            <p class="fs-5 text-white">3. Use the link to reset your password<p>
          </div>
          <div class="mb-5 mt-5 forgot-password">
            {% if msg %}
            <p>{{msg}}</p>
            {% endif %}
            <label for="InputEmail" class="form-label fs-5 fs-md-4 text-white mb-4">Enter your email address</label>
            <input type="email" name="InputEmail" class="form-control text-cyan" id="InputEmail" aria-describedby="emailHelp" >
          </div>
          <button type="submit" class="btn btn-login btn-new-passowrd">Get New password</button>
        </form>
      </div>
      <div class=" pt-3 pt-sm-4 pt-md-3 text-cyan account-creation ">
      <a href="/login" class="text-cyan">or back to login</a>
      </div>
    </div>
  </main>
  {% endblock content %}