{% extends "layouts/accounts-header.html" %}
{% block content %}
<main class="container px-xxl-5 px-xl-4 px-lg-3 px-md-2 px-sm-1">
    <div class="login-model rounded-5 mt-4">
        <div class="login-header text-grey-3 text-center fs-2-b ">
            Login
        </div>
        <div class="mb-5">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="invalid-register text-orange-3 text-center fs-5-b mt-5 mb-4">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                        <!-- Use default credentials: <strong>test / pass</strong> -->
                    {% endif %}
                    &#128543;
                </div>
                <div class="mb-4 mt-2">
                    <label for="exampleInputEmail" class="form-label fs-5 fs-md-4 text-white mb-4">Username</label>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
                </div>
                <div class="mb-5">
                    <label for="exampleInputPassword" class="form-label fs-5 fs-md-4 text-white mb-4">Password</label>
                    <input type="password" name="password" id="password" class="form-control" id="exampleInputPassword">
                </div>
                <button type="submit" class="btn btn-login">Login</button>
            </form>
        </div>
        <div class=" pt-4 pt-sm-5 pt-md-4 text-cyan account-creation ">
            Not registered? 
            <a href="{{ url_for('register') }}" class="small font-weight-bold">
                <span class="text-cyan">Create account</span>
            </a>
        </div>
    </div>
</main>

{% endblock content %}