{% extends "layouts/accounts-header.html" %}
{% block content %}
<main class="container px-xxl-5 px-xl-4 px-lg-3 px-md-2 px-sm-1">
    <div class="login-model rounded-5 mt-4">
        <div class="login-header text-grey-3 text-center fs-2-b ">
            Register
        </div>
        <div class="mb-4 register-model">
            {% if not success %}
            <p>{{msg}}</p>
            {% endif %}
            <form method="POST" action="">
                
                {{ form.hidden_tag() }}
                <div class="mb-4 mt-5">
                    <label for="InputName" class="form-label fs-6 fs-md-4 text-white mb-3">Username</label>
                    <div class="input-group">
                        <span class="input-group-text field-symbol" id="basic-addon1"><i
                                class="bi bi-person fs-5"></i></span>
                        <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="mb-4 mt-3">
                    <label for="InputEmail" class="form-label fs-6 fs-md-4 text-white mb-3">Email</label>
                    <div class="input-group">
                        <span class="input-group-text field-symbol" id="basic-addon2"><i
                                class="bi bi-envelope fs-5"></i></span>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="mb-4">
                    <label for="InputPassword" class="form-label fs-6 fs-md-4 text-white mb-3 ">Password</label>
                    <div class="input-group">
                        <span class="input-group-text field-symbol" id="basic-addon2"><i
                                class="bi bi-key fs-5"></i></span>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-signup">Sign Up</button>
            </form>
            
        </div>
        <div class=" pt-4 pt-sm-5 pt-md-4 text-cyan account-creation ">
            Already registered?
            <a href="{{ url_for('login') }}" class="small font-weight-bold"><span class="text-cyan">Login</span></a>
        </div>
    </div>
</main>
{% endblock content %}
