{% extends "layouts/accounts-header.html" %}
{% block content %}
<main class="container px-xxl-5 px-xl-4 px-lg-3 px-md-2 px-sm-1">
    <div class="login-model mt-4">
      <div class="login-header text-grey-3 text-center fs-2-b ">
        Your password has been reset!
      </div>
      <div class="mb-5 .login-model">
        <form>
          <div class="mb-5 mt-5 forgot-password">
            <label for="InputNewPassword" class="form-label fs-5 fs-md-4 text-white mb-4">Enter a New Passowrd</label>
            <input type="password" class="form-control text-cyan" id="InputNewPassword" aria-describedby="emailHelp" >
          </div>
          <div class="mb-5 mt-5 forgot-password">
            <label for="InputCofirmPassword" class="form-label fs-5 fs-md-4 text-white mb-4">Confirm New Password</label>
            <input type="password" class="form-control text-cyan" id="InputCofirmPassword" aria-describedby="emailHelp">
          </div>
          <button type="submit" class="btn btn-login btn-new-passowrd">Change password</button>
        </form>
      </div>
      <div class=" pt-3 pt-sm-4 pt-md-3 text-cyan account-creation ">
      <a href="#" class="text-cyan">or back to login</a>
      </div>
    </div>
  </main>
  {% endblock content %}