{% extends "layouts/lfg-header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/lfgpages/about.css">
  <!-- main content -->
  <main>
    <div class="info-corner">
      <div class="info-title">
        <div class="info-title-img">
          <img src="/static/assets/img/lfgpages/blurred-line-left.png">
        </div>
        <p class="">LFG Members & Investors</p>
        <div class="info-title-img">
          <img src="/static/assets/img/lfgpages/blurred-line-right.png">
        </div>
      </div>

      <div class="investor-contact">
        <div class="investor-wrap">
          <div class="investor-indi">
            <div class="investor-avator ">
              <img src="/static/assets/img/lfgpages/avatar1.png">
            </div>
            <div class="investor-intro">
              <p class="investor-name">Mark and Mike</p>
              <p class="investor-title">Founder members and investor.</p>
            </div>
            <div class="icon-detail start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#detailmodal">
                <img src="/static/assets/img/lfgpages/icon-detail.png">
            </div>
          </div>
          <div class="investor-indi">
            <div class="investor-avator ">
              <img src="/static/assets/img/lfgpages/avatar1.png">
            </div>
            <div class="investor-intro">
              <p class="investor-name">Mark and Mike</p>
              <p class="investor-title">Founder members and investor.</p>
            </div>
            <div class="icon-detail start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#detailmodal">
                <img src="/static/assets/img/lfgpages/icon-detail.png">
            </div>
          </div>
        </div>
        <div class="investor-wrap">
          <div class="investor-indi">
            <div class="investor-avator ">
              <img src="/static/assets/img/lfgpages/avatar1.png">
            </div>
            <div class="investor-intro">
              <p class="investor-name">Mark and Mike</p>
              <p class="investor-title">Founder members and investor.</p>
            </div>
            <div class="icon-detail start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#detailmodal">
                <img src="/static/assets/img/lfgpages/icon-detail.png">
            </div>
          </div>
          <div class="investor-indi">
            <div class="investor-avator ">
              <img src="/static/assets/img/lfgpages/avatar1.png">
            </div>
            <div class="investor-intro">
              <p class="investor-name">Mark and Mike</p>
              <p class="investor-title">Founder members and investor.</p>
            </div>
            <div class="icon-detail start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#detailmodal">
                <img src="/static/assets/img/lfgpages/icon-detail.png">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="detailmodal" tabindex="-1" aria-labelledby="detailinvestorLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="investor-indi detail-modal">
          <div class="investor-avator ">
              <img src="/static/assets/img/lfgpages/avatar2.png">
            </div>
            <div class="investor-intro modal-body">
              <p class="investor-name">Stephane</p>
              <p class="investor-title">Founder members and investor.</p>
              <p class="investor-narration">
                Stephane is a crypto analyst and avid gamer. He worked at Apple Ireland, then created a company importing and reselling iPhone parts. After selling his company he created a iPhone screen factory in UK and is now only involved in crypto and blockchain gaming.  Favorite game : World Of Warcraft.
              </p>
            </div>
        </div>
      </div>
    </div>

  </main>
  <!-- end main content -->
  
{% endblock content %}