    <div class="unconfirm-area text-center">
      <div class="message-title text-cyan">
      Welcome aboard!
      </div>
      <div class="message-header mt-4 mb-3 fs-4 fs-main-semi">
      Thanks for signing up!
      </div>
      <div class="message-intern fs-4">
      Please follow this link to activate your account.
      </div>
      <div class="mt-4">
        <a href="{{ confirm_url }}" class="fs-4 text-cyan text-decoration-underline ">{{ confirm_url }}</a>
      </div>
      <div class="message-footer fs-4">
        <span>Sincery the LFG team</span>
      </div>
    </div>
  