<div class="unconfirm-area text-center">
    <div class="message-title text-cyan">
    Welcome aboard!
    </div>
    <div class="message-header mt-4 mb-3 fs-4 fs-main-semi">
        {{firstName}}
    </div>
    <div class="message-header mt-4 mb-3 fs-4 fs-main-semi">
        {{lastName}}
    </div>
    <div class="message-intern fs-4">
        {{inputEmail}}
    </div>
    <div class="mt-4">
        {{formTextarea}}
    </div>
    <div class="message-footer fs-4">
    Sincery the LFG team</span>
    </div>
  </div>
