<div class="unconfirm-area text-center">
    <div class="message-title text-cyan">
    
    </div>
    <div class="message-header mt-4 mb-3 fs-4 fs-main-semi">
        <span>From: </span> &nbsp;<span>{{firstName}}</span>&nbsp;<span>{{lastName}}</span>
    </div>
    <div class="message-header mt-4 mb-3 fs-4 fs-main-semi">
        <span>E-mail:</span> &nbsp;<span> {{inputEmail}}</span>
    </div>
    <div class="mt-4">
        {{formTextarea}}
    </div>
    <div class="message-footer fs-4">
        <span>Sincery the LFG team</span>
    </div>
  </div>
