{% extends "layouts/lfg-header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/lfgpages/home.css">
<!-- main content -->
<main>
  <div class="info-corner">
    <div class="info-title">
      <div class="info-title-img">
        <img src="/static/assets/img/lfgpages/blurred-line-left.png">
      </div>
      <p>WELCOME TO <span class="title-space"></br></span>LOUSERIN FINANCE GAMING</p>
      <div class="info-title-img">
        <img src="/static/assets/img/lfgpages/blurred-line-right.png">
      </div>
    </div>
    <div class="corner-content">
      <!-- 
        <div class="swiper-container swiper-container-info">       
          <div class="swiper-wrapper swiper-wrapper-info">         
           
            <div class="swiper-slide"> -->
      <div class="indi-content">
        <div class="content-title">
          <p class="">Axies scholarship</p>
        </div>
        <div class="title-img justify-content-center mb-2">
          <img src="/static/assets/img/lfgpages/content-title1-hover.png">
        </div>
        <div class="content-description">
          <p>LFG’s largest investment is within the
            Pokémon-inspired universe, Axie Infinity,
            which allows players to battle, collect
            and breed pets. It boasts the most
            expensive NFT collection amongst the
            blockchain-based games and has
            traded 90000+ Ethereum within its
            game. You can get involved via
            our scholarship scheme! </p>

        </div>
        <div class="learn-more start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#axieModal">
          learn more
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="swiper-slide"> -->
      <div class="indi-content">
        <div class="content-title">
          <p class="">Guild of Guardians</p>
        </div>
        <div class="title-img title-right mb-2">
          <img src="/static/assets/img/lfgpages/content-title2-hover.png">
        </div>
        <div class="content-description">
          <p>Guild of Guardian is our next investment,
            we want to be ready with a strong guild
            for the 2022 launch.</p>
          <p>Two of our core investors were
            successfully leading a guild in
            World of Warcraft and received success
            by becoming Number 1 on their server
            and renown in Europe.
            Mixing crypto and gaming is our core
            business.</p>
        </div>
        <div class="learn-more start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#guardianModal">
          learn more
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="swiper-slide"> -->
      <div class="indi-content">
        <div class="content-title">
          <p class="">Splinterlands</p>
        </div>
        <div class="title-img justify-content-center mb-2">
          <img src="/static/assets/img/lfgpages/content-title0.png">
        </div>
        <div class="content-description">
          <p>The newest investment made by
            Louiserin Finance Gaming is in the
            blockchain-based collectible card
            game, Splinterlands. This game
            allows you to play, trade, and earn,
            anytime and with every win. You can
            combine these cards to gain levels
            and convert these cards into crypto
            and sell on multiple platforms. </p>
        </div>
        <div class="learn-more start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#splinterlandsModal">
          learn more
        </div>
      </div>
      <!-- </div>  -->
    </div>
  </div>
  </div>
  <div class="promo-area">
    <img src="/static/assets/img/lfgpages/promo-area.png">
  </div>
  <div class="promo-area-mob">
    <img src="/static/assets/img/lfgpages/promoarea.png">
  </div>

  <!-- Modal -->
  <div class="modal fade" id="splinterlandsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="indi-content indi-content-modal">
          <div class="content-title">
            <p class="">Splinterlands</p>
          </div>
          <div class="title-img justify-content-center mb-2">
            <img src="/static/assets/img/lfgpages/content-title0.png">
          </div>
          <div class="content-description">
            <p>The newest investment made by
              Louiserin Finance Gaming is in the
              blockchain-based collectible card
              game, Splinterlands. This game
              allows you to play, trade, and earn,
              anytime and with every win. You can
              combine these cards to gain levels
              and convert these cards into crypto
              and sell on multiple platforms. </p>
          </div>
          <div class="learn-more learn-less start-50 translate-middle-x" data-bs-dismiss="modal">
            learn less
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="axieModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="indi-content indi-content-modal">
          <div class="content-title">
            <p class="">Axies scholarship</p>
          </div>
          <div class="title-img justify-content-center mb-2">
            <img src="/static/assets/img/lfgpages/content-title1-hover.png">
          </div>
          <div class="content-description">
            <p>LFG’s largest investment is within the
              Pokémon-inspired universe, Axie Infinity,
              which allows players to battle, collect
              and breed pets. It boasts the most
              expensive NFT collection amongst the
              blockchain-based games and has
              traded 90000+ Ethereum within its
              game. You can get involved via
              our scholarship scheme! </p>

          </div>
          <div class="learn-more learn-less start-50 translate-middle-x" data-bs-dismiss="modal">
            learn less
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="guardianModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="indi-content indi-content-modal">
          <div class="content-title">
            <p class="">Guild of Guardians</p>
          </div>
          <div class="title-img title-right mb-2">
            <img src="/static/assets/img/lfgpages/content-title2-hover.png">
          </div>
          <div class="content-description">
            <p>Guild of Guardian is our next investment,
              we want to be ready with a strong guild
              for the 2022 launch.</p>
            <p>Two of our core investors were
              successfully leading a guild in
              World of Warcraft and received success
              by becoming Number 1 on their server
              and renown in Europe.
              Mixing crypto and gaming is our core
              business.</p>
          </div>
          <div class="learn-more learn-less start-50 translate-middle-x" data-bs-dismiss="modal">
            learn less
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</main>
<!-- end main content -->

{% endblock content %}