{% extends "layouts/lfg-header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/lfgpages/home.css">
<!-- main content -->
<main>
  <div class="info-corner">
    <div class="info-title">
      <div class="info-title-img">
        <img src="/static/assets/img/lfgpages/blurred-line-left.png">
      </div>
      <p>WELCOME TO <span class="title-space"></br></span>LOUSERIN FINANCE GAMING</p>
      <div class="info-title-img">
        <img src="/static/assets/img/lfgpages/blurred-line-right.png">
      </div>
    </div>
    <div class="corner-content">
      <!-- 
        <div class="swiper-container swiper-container-info">       
          <div class="swiper-wrapper swiper-wrapper-info">         
           
            <div class="swiper-slide"> -->
      <div class="indi-content">
        <div class="content-title">
          <p class="">Axies scholarship</p>
        </div>
        <div class="title-img justify-content-center mb-2">
          <img src="/static/assets/img/lfgpages/content-title1-hover.png">
        </div>
        <div class="content-description">
          <p>LFG’s largest investment is within the
            Pokémon-inspired universe, Axie Infinity,
            which allows players to battle, collect
            and breed pets. It boasts the most
            expensive NFT collection amongst the
            blockchain-based games and has
            traded 90000+ Ethereum within its
            game. You can get involved via
            our scholarship scheme! </p>

        </div>
        <div class="learn-more start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#axieModal">
          learn more
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="swiper-slide"> -->
      <div class="indi-content">
        <div class="content-title">
          <p class="">Guild of Guardians</p>
        </div>
        <div class="title-img title-right mb-2">
          <img src="/static/assets/img/lfgpages/content-title2-hover.png">
        </div>
        <div class="content-description">
          <p>Guild of Guardian is our next investment,
            we want to be ready with a strong guild
            for the 2022 launch.</p>
          <p>Two of our core investors were
            successfully leading a guild in
            World of Warcraft and received success
            by becoming Number 1 on their server
            and renown in Europe.
            Mixing crypto and gaming is our core
            business.</p>
        </div>
        <div class="learn-more start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#guardianModal">
          learn more
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="swiper-slide"> -->
      <div class="indi-content">
        <div class="content-title">
          <p class="">Splinterlands</p>
        </div>
        <div class="title-img justify-content-center mb-2">
          <img src="/static/assets/img/lfgpages/content-title0.png">
        </div>
        <div class="content-description">
          <p>The newest investment made by
            Louiserin Finance Gaming is in the
            blockchain-based collectible card
            game, Splinterlands. This game
            allows you to play, trade, and earn,
            anytime and with every win. You can
            combine these cards to gain levels
            and convert these cards into crypto
            and sell on multiple platforms. </p>
        </div>
        <div class="learn-more start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#splinterlandsModal">
          learn more
        </div>
      </div>
      <!-- </div>  -->
    </div>
  </div>
  </div>
  <div class="promo-area">
    <img src="/static/assets/img/lfgpages/promo-area.png">
  </div>
  <div class="promo-area-mob">
    <img src="/static/assets/img/lfgpages/promoarea.png">
  </div>

  <!-- Modal -->
  <div class="modal fade" id="splinterlandsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="indi-content indi-content-modal">
          <div class="content-title">
            <p class="">Splinterlands</p>
          </div>
          <div class="title-img justify-content-center mb-2">
            <img src="/static/assets/img/lfgpages/content-title0.png">
          </div>
          <div class="content-description">
            <p>The newest investment made by Louiserin Finance Gaming is in the blockchain-based collectible card game, Splinterlands. This game allows you to play, trade, and earn, anytime and with every win. You can combine these cards to gain levels and convert these cards into crypto and sell on multiple platforms.
              This is why joining Louiserin Finance as a scholar is perfect for you!
              Louiserin yields the best NFT’s which will provide you with the best opportunity to collect and earn better cards and allow you to exchange these rewards for crypto. Joining us as a scholar is the best way to live your dream as a professional gamer and earn from anywhere in the world!
              Now, what are you waiting for? Click the link below!
               </p>
          </div>
          <div class="learn-more learn-less start-50 translate-middle-x" data-bs-dismiss="modal">
            learn less
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="axieModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="indi-content indi-content-modal">
          <div class="content-title">
            <p class="">Axies scholarship</p>
          </div>
          <div class="title-img justify-content-center mb-2">
            <img src="/static/assets/img/lfgpages/content-title1-hover.png">
          </div>
          <div class="content-description">
            <p>LFG’s largest investment is within the Pokémon-inspired universe, Axie Infinity, which allows players to battle, collect and breed pets. It boasts the most expensive NFT collection amongst the blockchain-based games and has traded 90000+ Ethereum within its game and you can get involved via our scholarship scheme!
              At Louiserin, we are a DAO who pride ourselves on breeding the best quality Axie’s, providing 250 teams worth of scholars with the best and most accurate Axie’s yielded to them. As part of our team, scholars are trained daily by the best players in the world. Justkeihl, who is currently Top 30 worldwide, and Indes, the best Axie player in the world for the past 3 years, have both come together to provide excellent training regimes that provide you with the highest odds of being successful.
              We aim to provide this quality to over 1000 teams of scholars by 2022 so join the growing community now!</p>

          </div>
          <div class="learn-more learn-less start-50 translate-middle-x" data-bs-dismiss="modal">
            learn less
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="guardianModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="indi-content indi-content-modal">
          <div class="content-title">
            <p class="">Guild of Guardians</p>
          </div>
          <div class="title-img title-right mb-2">
            <img src="/static/assets/img/lfgpages/content-title2-hover.png">
          </div>
          <div class="content-description">
            <p>LFG’s second investment is a mobile RPG, NFT-based game that allows ‘Guardians’ to build guilds to compete for tradeable awards. In preparation for its release in early 2022, we are aiming to build the strongest guild, with two of the core investors being leaders of guilds in World of Warcraft, even becoming #1 in their respective regions and renown in Europe!
              This game will be truly skill-based, and the team behind it has stated that no pay to win will occur. This means joining our elite guild will guarantee you the best in-game awards to use in a new valuable gaming economy led by cryptocurrency!
              Invest in the Louiserin guild now to guarantee yourself a combination of gaming and crypto investing anyone can get involved in!</p>
          </div>
          <div class="learn-more learn-less start-50 translate-middle-x" data-bs-dismiss="modal">
            learn less
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</main>
<!-- end main content -->

{% endblock content %}